<header>
    <h2>What's up, {{name}}</h2>
    <p>Choose the days you will work on</p>
</header>
<form action="/days" method="post" id="days">
    <div class="container">
        {{#each days}}
            <span>
                <input type="checkbox" id="{{day}}" name="days" value="{{day}}">
                <label for="{{day}}">{{day}}</label><br>
            </span>
        {{/each}}
    </div>
    <button type="submit" value="Submit">Submit</button>
</form>

{{!-- <form action="/" method="get">
    
</form> --}}